@keyframes hero-img-bg {
    from {
        height: 0px;
        opacity: 0;

    }

    to {
        height: 700px;
        opacity: 1;
    }

}

@keyframes hero-img {
    from {
        width: 0%;
     

    }

    to {
        width: 80%;
        
    }

}
