body {
  margin: 0;
}

.top {
  width: 100%;
  height: 700px;
  background-color: #4b5320;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-wap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4b5320;
}

.nav p {
  font-size: 42px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: white;
}

.nav div {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  padding: 0;
  width: 30%;
}

.nav div p {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.nav img {
  width: calc(40px - 1px);
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid white;
}

.hero {
  width: 75%;

  display: flex;
  justify-content: space-between;
}

.hero-txt {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 595px;
}

.hero-img {
  width: 40%;
  height: 700px;
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 02px 2px 02px rgba(75, 72, 72, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hero-img-bg;
  animation-duration: 1.5s;
}

.hero-img img {
  width: 100%;
  animation: hero-img;
  animation-duration: 3s;
}

.hero-txt p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  margin: 0;
  font-weight: 900;
  text-transform: capitalize;
  color: white;
  line-height: 55px;
}

.hero-txt :nth-child(3) {
  font-size: 22px;
  font-weight: normal;
  margin-top: 24px;
  line-height: normal;
}

.hero-txt button {
  width: calc(40% - 20px);
  padding: 20px;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
}

.detail {
  width: 75%;
  padding-top: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  margin-left: 12.5%;
}

.detail-img {
  width: 35%;
  height: 700px;
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 02px 2px 02px rgba(75, 72, 72, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-img img {
  width: 80%;
  mix-blend-mode: multiply;
  height: 600px;
}

.detail-txt {
  width: 60%;
}

.detail-txt p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
  line-height: 55px;
}

.detail-txt :nth-child(2) {
  text-transform: uppercase;
}

.detail-txt :first-child {
}

.detail-txt .row1 {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.detail-txt .row1 div {
  width: 30%;
}

.detail-txt .row1 div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
}

.detail-txt .row1 div :nth-child(2) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: normal;
  margin-top: 24px;
}

.detail-txt .row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.detail-txt .row2 div {
  width: 30%;
}

.detail-txt .row2 div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
}

.detail-txt .row2 div :nth-child(2) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: normal;
  margin-top: 24px;
}

.left-img {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 120px;
  height: 700px;
  display: flex;
  justify-content: left;
  gap: 17%;
}

.left-img-txt {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-img-txt p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}

.left-img-txt :nth-child(3) {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
}

.left-img-txt :nth-child(4) {
  font-size: 18px;
  font-weight: normal;
  margin-top: 24px;
}

.left-img-txt button {
  width: calc(40% - 20px);
  padding: 20px;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  background-color: #4b5320;
  color: white;
}

.left-img-img {
  width: 38%;
  background-color: antiquewhite;
  height: 700px;
  display: flex;
  align-items: center;
}

.left-img-img img {
  width: 100%;
  height: 500px;
  margin-left: 26%;
}

.right-img {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 120px;
  height: 700px;
  display: flex;
  justify-content: start;
  gap: 17%;
}

.right-img-txt {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-img-txt p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}

.right-img-txt :nth-child(3) {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
}

.right-img-txt :nth-child(4) {
  font-size: 18px;
  font-weight: normal;
  margin-top: 24px;
}

.right-img-txt button {
  width: calc(40% - 20px);
  padding: 20px;
  margin-top: 24px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  background-color: #4b5320;
  color: white;
}

.right-img-img {
  width: 35%;

  height: 700px;
  display: flex;
  align-items: center;
}

.right-img-img img {
  width: 100%;
  height: 500px;
}
.right-img-bg {
  width: 30%;
  position: relative;
  left: 0%;
  z-index: -10;
  height: 700px;
  background-color: antiquewhite;
  top: -700px;
}

.product {
  width: 75%;
  margin-left: 12.5%;
  position: relative;
  top: -460px;
}
.card-grp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.card {
  width: 32%;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 80%;
  aspect-ratio: 1/1;
  margin-top: 24px;
}
.product p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
  text-align: center;
}
.card p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
  text-align: center;
}
.card :nth-child(2) {
  margin-top: 24px;
}
.card :nth-child(4) {
  font-size: 22px;
  font-weight: normal;
  margin-top: 24px;
}
.card:hover {
  background-color: antiquewhite;
  transition: 1.5s;
}
